<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>String boot study</title>
    <style>
    	
    </style>
</head>
<body>
    <div class="container">
    <div>
        <h1>String boot study</h1>
        <p>값넘기기</p>
        <p>
            <a href="/board/write">일반변수</a>
            <a href="/board/write2">dto</a>
            <a href="/board/write3">lombok</a>
            <a href="/board/write4">Entity직접 사용</a>
            <a href="/board/write5">MySQL에 입력</a>
        </p>
    </div>
	</div> <!--- /container End ---->
    
</body>
</html>